[Desktop Entry]
Name=MX Broadcom Manager
Name[ca]=MX Broadcom Manager
Name[de]=MX Broadcom Manager
Name[el]=MX Broadcom Manager
Name[es]=MX Broadcom Gestor
Name[fr]=MX Gestionnaire du Broadcom
Name[it]=MX Broadcom Manager
Name[ja]=MX Broadcom マネージャー
Name[nl]=MX Broadcom Beheer
Name[ru]=MX Broadcom Менеджер
Name[sv]=MX Broadcom-hanterare
Comment=Network Configuration and Troubleshooting
Comment[ca]=Configuració de xarxa i resolució de problemes
Comment[de]=Netzwerk-Konfiguration und -Problemlösung
Comment[el]=Διαμόρφωση του δικτύου και Αντιμετώπιση προβλημάτων
Comment[es]=Configuración de red y resolución de problemas
Comment[fr]=Configuration et dépannage des réseaux
Comment[it]=Configurazione della rete e risoluzione dei problemi
Comment[ja]=ネットワーク設定・トラブル解決
Comment[nl]=Netwerk Configuratie en Foutopsporing
Comment[ru]=Конфигурация сети и устранение неполадок
Comment[sv]=Nätverkskonfiguration och felsökning
Exec=su-to-root -X -c mx-broadcom-manager
Icon=mx-broadcom-manager
NoDisplay=false
Categories=System;
Type=Application
